@charset "UTF-8";

@font-face {
    font-family: 'Oriond';
    src: url('ORIOND.TTF') format('opentype');
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --fonte-oriond: 'Oriond', cursive;
    --fonte-roboto: 'Roboto', sans-serif;
}

* {
    margin: 0px 0px;
}

header {
    font-family: var(--fonte-oriond);
    text-align: center;
    background-image: linear-gradient(45deg, #ffed00, #c2ff00 20%, #00c7f2 70%, #2A7DF9 90%);
    height: 53vh;
    margin-top: 30px;

}

header > h1 {
    font-size: 2.5em;
    padding-top: 50px;
    margin-left: -20px;    
    margin-bottom: -50px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.151);  
}

header > h2 {    
    font-size: 80px;
    margin-top: 50px;
    color: white;       
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.151);  
}

header > p {
    font-size: 1em;
    font-family: var(--fonte-roboto);
    color: white;
    font-weight: lighter;    
    padding-top: 30px;  
}

.cadastrar {
    color: white;
    font-size: 18px;
    font-family: var(--fonte-roboto);
    font-weight: normal;
    padding-top: 19px;
}

nav {    
    text-align: right;       
       
}

nav > a {
    color: #32323D;
    font-family: var(--fonte-roboto);    
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.deezer {    
    padding: 150px 0px 0px 122px;
    max-width: 130px;
    display: block;   
    max-height: 30px;
    margin-top: -80px;
    
    
}

.padrao1:visited, .padrao2:visited {
    font-family: var(--fonte-roboto);    
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    color: #32323D;
}

.padrao1:hover, .padrao2:hover {
    border-bottom: 4px solid #2692B7;
    padding: 28px 0px;
}

.padrao1 {
    margin-right: 30px;    
}

.padrao2 {         
    margin-right: 30px;
}

.login {
    color: #17A6C6;
    margin-right: 10px;
    Border-radius: 50px;      
    font-size: 0.95em;
    padding: 10px 24px 10px 24px;       
    border-width: medium;
    border: 2px solid #17A6C6;

}

.login:hover {
    color: #03608A;
    border-color: #03608A;
}

.cadastre {
    color: white;
    margin-right: 130px;         
    border-radius: 50px;    
    font-size: 0.95em;    
    padding: 12px 24px 12px 24px;
    background-color: #2D96C8;
}

.cadastre:hover {
    background-color: #03608A;
}

.cadastrar {
    background-image:linear-gradient(to right,#077265 20%, #0A6D6C);    
    border-radius: 50px;
    margin: 22px 775px 0px 775px;
    padding: 28px 44px 28px 44px;
}

.cadastrar:hover {    
    background-image: unset;
    background-color: white;
    color: black;    
}

.s1 > div {    
    height: 100vh;
    background-color: black;
    background-image: url(https://e-cdns-files.dzcdn.net/cache/slash/images/backstage/offers/free/player/br/player.338109e1e7e19535c4eb5b29a0751449.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;       
    
}

.s2 {
    display: flex;
    flex-direction: column;
    justify-items: center;    
    align-items: center;
    text-align: left;       
}

h1 {
    font-family: var(--fonte-oriond);
    font-size: 4.5em;
    text-align: center;
    margin: 90px 0px;
}

.s2 > div {
    display: block;                
    columns: 3;
    column-gap: 80px;
    width: 1060px;
}

.s2 > div > a {
    align-items: center;    
}

.cadastrar3 {
    margin-top: 35px;
    background-image:linear-gradient(45deg, #ffed00, #c2ff00 02%, #00c7f2 70%, #2A7DF9 90%);    
    border-radius: 50px;      
    display: block;        
    max-width: 105px;     
    padding: 13px 50px;   
    text-align: center;   
}

.cadastrar3:hover {    
    background-image: unset;
    background-color: black;     
}

.s2 div > h2, .faq > div > h2 {
    font-size: 1.25em;
    font-family: var(--fonte-oriond);        
}

.s2 div > p, .faq div > p {
    color: #818181;
    font-family: var(--fonte-roboto);
    font-size: 1em;
    margin: 20px 0px 60px 0px;
}

.s3 {
    margin-top: -80px;
    margin-bottom: 50px;
    display: flex;    
    flex-direction: column;  
    justify-content: space-between;                  
}

.s3 > p, .s4 > p, .s6 > p, .s8 > p, .s11 > p {
    color: #818181;
    font-family: var(--fonte-roboto);    
    font-size: 1.05em;
    text-align: center;
}

.s4 > img {
    margin-left: 513px;
}

.s5 {
    margin-top: 50px;   
    justify-content: center;  
}

.s6 > p {
    margin-top: -40px;
    padding: 0px 654px;
}

.s7 > div {    
    -webkit-column-count: 3;  
    display: block;
    text-align: center;
    align-items: center;           
    justify-content: center;   
    vertical-align: middle;
    margin: 60px 500px;
}

.s7 > div > h2 > img {
    height: 245px;
    width: 245px; 
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px #d2d2d2;
    box-shadow: 0 0 20px #d2d2d2;     
}

.s7 > div > p {
    margin: 5px 0px 35px 0px;
    color: #818181;
    font-family: var(--fonte-roboto);    
    font-size: 1em;        
}

.s8 > p {
    margin: -40px 40px 30px;
}

.s9 > img {
    margin-left: 235px;
}

.s10 {
    display: block;
    flex-direction: column;
    columns: 2;    
    column-gap: 25px;
    width: 70vh;   
    text-align: right;
    margin: 0px 590px;    
}

.s10 > h2 {
    font-family: var(--fonte-oriond);
    font-size: 4.5em;
    text-align: right;
    margin: 90px 0px 30px 0px;
}

.s10 > p {
    color: #818181;
    font-family: var(--fonte-roboto);    
    font-size: 1.05em;    
}

.s10 > p > a {
    color: white;        
    font-size: 1.05em;
    font-family: var(--fonte-roboto); 
    background-image:linear-gradient(45deg, #ffed00, #c2ff00 02%, #00c7f2 70%, #2A7DF9 90%);    
    border-radius: 50px;      
    display: block;    
    margin-top: 50px;  
    margin-left: 110px;
    max-width: 105px;     
    padding: 13px 50px;   
    text-align: center;    
}

.s10 > p > a:hover {
    background-image: unset;
    background-color: black;  
} 

.s11 {
    text-align: center; 
}

.s11 > p {
    margin-bottom: 70px;
}

.s11 > a {
    color: #F15466;    
    font-size: 0.8em;
    font-family: var(--fonte-roboto); 
    text-decoration: underline;     
}

.s12 > div {    
    -webkit-column-count: 3;  
    display: block;
    text-align: center;
    align-items: center;           
    justify-content: center;   
    vertical-align: middle;
    margin: 60px 500px;
}

.s12 > div > h2 > img {
    height: 150px;
    width: 168px; 
    padding: 49px 38px;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 20px #d2d2d2;
    box-shadow: 0 0 20px #d2d2d2;     
}

.s12 > div > p {
    margin: 5px 0px 35px 0px;
    color: #818181;
    font-family: var(--fonte-roboto);    
    font-size: 1em;        
}

.faq > div {        
    display: block;   
    columns: 3; 
    column-gap: 70px;
    text-align: left;
    align-items: center;           
    justify-content: center;   
    vertical-align: middle;
    margin: 60px 420px;  
    height: fit-content;
}

.imgplaylist {
    display: flex;     
    position: relative;
    align-items: center;           
    justify-content: center;   
    vertical-align: middle; 
}

.imgplaylist > img {    
    margin: 0px 30px;
    height: 245px;
    width: 245px; 
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px #d2d2d2;
    box-shadow: 0 0 20px #d2d2d2;    
}

.textos {
    display: flex;
    justify-content: center;   
    text-align: center;  
    margin-bottom: 20px;  
}

.textos2 {
    display: flex;    
    margin: 0px 495px;
    text-align: center;
}

.textos2 > p {
    font-family: var(--fonte-roboto);
    color: #818181;      
    font-size: 1em;    
    padding: 10px 35px;
}

.textos > p {
    padding: 10px 50px;
    width: 220px;
    text-align: center;
    font-family: var(--fonte-roboto);
    color: #818181;      
    font-size: 1em;        
}

strong {
    color: #000;
}

.cadastrar2, .cadastrar3 > a {
    color: white;        
    font-size: 1.05em;
    font-family: var(--fonte-roboto);    
}

.cadastrar2 {
    margin-top: 35px;
    background-image:linear-gradient(45deg, #ffed00, #c2ff00 02%, #00c7f2 70%, #2A7DF9 90%);    
    border-radius: 50px;      
    display: block;      
    margin-left: 850px;
    max-width: 105px;     
    padding: 13px 50px;   
    text-align: center;    
}

.cadastrar2:hover {    
    background-image: unset;
    background-color: black;     
}


    
    
    

footer {
    background-color: black;    
    justify-content: space-around;
    align-items: center;    
    display: flex;  
    color: white;
    
}

.lista1, .lista2, .lista3, .lista4 {
    margin-top: 40px;
    margin-bottom: 40px;
    list-style: none;
    font-family: var(--fonte-roboto);
    font-weight: bold;
    font-size: 0.85em;
    line-height: 2.5;
}

.titulofooter {    
    color: #52525D;
    margin-bottom: 10px;
    
}

a {
    text-decoration: none;
    color: white;
}


    


