@charset "UTF-8";

@font-face {
    font-family: 'Oriond';
    src: url('ORIOND.TTF') format('opentype');
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --fonte-oriond: 'Oriond', cursive;
    --fonte-roboto: 'Roboto', sans-serif;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
}

/* 1 rem = 16 px */

header {
    font-family: var(--fonte-oriond);
    text-align: center;
    background-image: linear-gradient(45deg, #ffed00, #c2ff00 20%, #00c7f2 70%, #2A7DF9 90%);
    height: 53vh;
    margin-top: 1.875rem;
}

header > h1 {
    font-size: 2.5em;
    padding-top: 3.125rem;
    margin-left: -1.25rem;    
    margin-bottom: -3.125rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.151);  
}

header > h2 {    
    font-size: 5rem;
    margin-top: 3.125rem;
    color: white;       
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.151);  
}

header > p {
    font-size: 1em;
    font-family: var(--fonte-roboto);
    color: white;
    font-weight: lighter;    
    padding-top: 1.875rem;  
}

.cadastrar {
    color: white;
    font-size: 1.125rem;
    font-family: var(--fonte-roboto);
    font-weight: normal;
    padding-top: 1.1875rem;
}

nav {    
    text-align: right;       
}

nav > a {
    color: #32323D;
    font-family: var(--fonte-roboto);    
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
}

.deezer {    
    padding: 9.375rem 0rem 0rem 7.625rem;
    max-width: 8.125rem;
    display: block;   
    max-height: 1.875rem;
    margin-top: -5rem;  
}

.padrao1:visited, .padrao2:visited {
    font-family: var(--fonte-roboto);    
    font-weight: normal;
    font-size: 1.25rem;
    text-decoration: none;
    color: #32323D;
}

.padrao1:hover, .padrao2:hover {
    border-bottom: 4px solid #2692B7;
    padding: 1.75rem 0rem;
}

.padrao1 {
    margin-right: 1.875rem;    
}

.padrao2 {         
    margin-right: 1.875rem;
}

.login {
    color: #17A6C6;
    margin-right: 0.625rem;
    Border-radius: 3.125rem;      
    font-size: 0.95em;
    padding: 0.625rem 1.5rem 0.625rem 1.5rem;       
    border-width: medium;
    border: 2px solid #17A6C6;
}

.login:hover {
    color: #03608A;
    border-color: #03608A;
}

.cadastre {
    color: white;
    margin-right: 8.125rem;         
    border-radius: 50px;    
    font-size: 0.95em;    
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    background-color: #2D96C8;
}

.cadastre:hover {
    background-color: #03608A;
}

.cadastrar {
    background-image:linear-gradient(to right,#077265 20%, #0A6D6C);    
    border-radius: 50px;
    margin: 1.375rem 48.4375rem 0rem 48.4375rem;
    padding: 1.75rem 2.75rem 1.75rem 2.75rem;
}

.cadastrar:hover {    
    background-image: unset;
    background-color: white;
    color: black;    
}

.s1 > div {    
    height: 100vh;
    background-color: black;
    background-image: url(https://e-cdns-files.dzcdn.net/cache/slash/images/backstage/offers/free/player/br/player.338109e1e7e19535c4eb5b29a0751449.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;       
    
}

.s2 {
    display: flex;
    flex-direction: column;
    justify-items: center;    
    align-items: center;
    text-align: left;       
}

h1 {
    font-family: var(--fonte-oriond);
    font-size: 4.5em;
    text-align: center;
    margin: 5.625rem 0rem;
}

.s2 > div {
    display: block;                
    columns: 3;
    column-gap: 5rem;
    width: 66.25rem;
}

.s2 > div > a {
    align-items: center;    
}

.cadastrar3 {
    margin-top: 2.1875rem;
    background-image:linear-gradient(45deg, #ffed00, #c2ff00 02%, #00c7f2 70%, #2A7DF9 90%);    
    border-radius: 50px;      
    display: block;        
    max-width: 6.5625rem;     
    padding: 0.8125rem 3.125rem;   
    text-align: center;   
}

.cadastrar3:hover {    
    background-image: unset;
    background-color: black;     
}

.s2 div > h2, .faq > div > h2 {
    font-size: 1.25em;
    font-family: var(--fonte-oriond);        
}

.s2 div > p, .faq div > p {
    color: #818181;
    font-family: var(--fonte-roboto);
    font-size: 1em;
    margin: 1.25rem 0rem 3.75rem 0rem;
}

.s3 {
    margin-top: -5rem;
    margin-bottom: 3.125rem;
    display: flex;    
    flex-direction: column;  
    justify-content: space-between;                  
}

.s3 > p, .s4 > p, .s6 > p, .s8 > p, .s11 > p {
    color: #818181;
    font-family: var(--fonte-roboto);    
    font-size: 1.05em;
    text-align: center;
}

.s4 > img {
    margin-left: 32.0625rem;
}

.s5 {
    margin-top: 3.125rem;   
    justify-content: center;  
}

.s6 > p {
    margin-top: -2.5rem;
    padding: 0rem 40.875rem;
}

.s7 > div {    
    -webkit-column-count: 3;  
    display: block;
    text-align: center;
    align-items: center;           
    justify-content: center;   
    vertical-align: middle;
    margin: 3.75rem 31.25rem;
}

.s7 > div > h2 > img {
    height: 15.3125rem;
    width: 15.3125rem; 
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px #d2d2d2;
    box-shadow: 0 0 20px #d2d2d2;     
}

.s7 > div > p {
    margin: 0.3125rem 0rem 2.1875rem 0rem;
    color: #818181;
    font-family: var(--fonte-roboto);    
    font-size: 1em;        
}

.s8 > p {
    margin: -2.5rem 2.5rem 1.875rem;
}

.s9 > img {
    margin-left: 14.6875rem;
}

.s10 {
    display: block;
    flex-direction: column;
    columns: 2;    
    column-gap: 1.5625rem;
    width: 70vh;   
    text-align: right;
    margin: 0rem 36.875rem;    
}

.s10 > h2 {
    font-family: var(--fonte-oriond);
    font-size: 4.5em;
    text-align: right;
    margin: 5.625rem 0rem 1.875rem 0rem;
}

.s10 > p {
    color: #818181;
    font-family: var(--fonte-roboto);    
    font-size: 1.05em;    
}

.s10 > p > a {
    color: white;        
    font-size: 1.05em;
    font-family: var(--fonte-roboto); 
    background-image:linear-gradient(45deg, #ffed00, #c2ff00 02%, #00c7f2 70%, #2A7DF9 90%);    
    border-radius: 50px;      
    display: block;    
    margin-top: 3.125rem;  
    margin-left: 6.875rem;
    max-width: 6.5625rem;     
    padding: 0.8125rem 3.125rem;   
    text-align: center;    
}

.s10 > p > a:hover {
    background-image: unset;
    background-color: black;  
} 

.s11 {
    text-align: center; 
}

.s11 > p {
    margin-bottom: 4.375rem;
}

.s11 > a {
    color: #F15466;    
    font-size: 0.8em;
    font-family: var(--fonte-roboto); 
    text-decoration: underline;     
}

.s12 > div {    
    -webkit-column-count: 3;  
    display: block;
    text-align: center;
    align-items: center;           
    justify-content: center;   
    vertical-align: middle;
    margin: 3.75rem 31.25rem;
}

.s12 > div > h2 > img {
    height: 9.375rem;
    width: 10.5rem; 
    padding: 3.0625rem 2.375rem;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 20px #d2d2d2;
    box-shadow: 0 0 20px #d2d2d2;     
}

.s12 > div > p {
    margin: 0.3125rem 0rem 2.1875rem 0rem;
    color: #818181;
    font-family: var(--fonte-roboto);    
    font-size: 1em;        
}

.faq > div {        
    display: block;   
    columns: 3; 
    column-gap: 4.375rem;
    text-align: left;
    align-items: center;           
    justify-content: center;   
    vertical-align: middle;
    margin: 3.75rem 26.25rem;  
    height: fit-content;
}

.imgplaylist {
    display: flex;     
    position: relative;
    align-items: center;           
    justify-content: center;   
    vertical-align: middle; 
}

.imgplaylist > img {    
    margin: 0rem 1.875rem;
    height: 15.3125rem;
    width: 15.3125rem; 
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px #d2d2d2;
    box-shadow: 0 0 20px #d2d2d2;    
}

.textos {
    display: flex;
    justify-content: center;   
    text-align: center;  
    margin-bottom: 1.25rem;  
}

.textos2 {
    display: flex;    
    margin: 0rem 30.9375rem;
    text-align: center;
}

.textos2 > p {
    font-family: var(--fonte-roboto);
    color: #818181;      
    font-size: 1em;    
    padding: 0.625rem 2.1875rem;
}

.textos > p {
    padding: 0.625rem 3.125rem;
    width: 13.75rem;
    text-align: center;
    font-family: var(--fonte-roboto);
    color: #818181;      
    font-size: 1em;        
}

strong {
    color: #000;
}

.cadastrar2, .cadastrar3 > a {
    color: white;        
    font-size: 1.05em;
    font-family: var(--fonte-roboto);    
}

.cadastrar2 {
    margin-top: 2.1875rem;
    background-image:linear-gradient(45deg, #ffed00, #c2ff00 02%, #00c7f2 70%, #2A7DF9 90%);    
    border-radius: 50px;      
    display: block;      
    margin-left: 53.125rem;
    max-width: 6.5625rem;     
    padding: 0.8125rem 3.125rem;   
    text-align: center;    
}

.cadastrar2:hover {    
    background-image: unset;
    background-color: black;     
}

footer {
    background-color: black;    
    justify-content: space-around;
    align-items: center;    
    display: flex;  
    color: white;
}

.lista1, .lista2, .lista3, .lista4 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    list-style: none;
    font-family: var(--fonte-roboto);
    font-weight: bold;
    font-size: 0.85em;
    line-height: 2.5;
}

.titulofooter {    
    color: #52525D;
    margin-bottom: 0.625rem;
}

a {
    text-decoration: none;
    color: white;
}