@charset "UTF-8";

@font-face {
    font-family: 'Oriond';
    src: url('ORIOND.TTF') format('opentype');
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --fonte-oriond: 'Oriond', cursive;
    --fonte-roboto: 'Roboto', sans-serif;
}

* {
    margin: 0px 0px;
}

header {
    font-family: var(--fonte-oriond);
    text-align: center;
    background-image: linear-gradient(45deg, #ffed00, #c2ff00 20%, #00c7f2 70%, #2A7DF9 90%);
    height: 53vh;
    margin-top: 30px;

}

header > h1 {
    font-size: 2.5em;
    padding-top: 50px;
    margin-left: -20px;    
    margin-bottom: -50px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.151);  
}

header > h2 {    
    font-size: 80px;
    margin-top: 50px;
    color: white;       
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.151);  
}

header > p {
    font-size: 1em;
    font-family: var(--fonte-roboto);
    color: white;
    font-weight: lighter;    
    padding-top: 30px;  
}

.cadastrar {
    color: white;
    font-size: 18px;
    font-family: var(--fonte-roboto);
    font-weight: normal;
    padding-top: 19px;
}

nav {    
    text-align: right;       
       
}

nav > a {
    color: #32323D;
    font-family: var(--fonte-roboto);    
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.deezer {    
    padding: 150px 0px 0px 122px;
    max-width: 130px;
    display: block;   
    max-height: 30px;
    margin-top: -80px;
    
    
}

.padrao1:visited, .padrao2:visited {
    font-family: var(--fonte-roboto);    
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    color: #32323D;
}

.padrao1:hover, .padrao2:hover {
    border-bottom: 4px solid #2692B7;
    padding: 28px 0px;
}

.padrao1 {
    margin-right: 30px;    
}

.padrao2 {         
    margin-right: 30px;
}

.login {
    color: #17A6C6;
    margin-right: 10px;
    Border-radius: 50px;      
    font-size: 0.95em;
    padding: 10px 24px 10px 24px;       
    border-width: medium;
    border: 2px solid #17A6C6;

}

.login:hover {
    color: #03608A;
    border-color: #03608A;
}

.cadastre {
    color: white;
    margin-right: 130px;         
    border-radius: 50px;    
    font-size: 0.95em;    
    padding: 12px 24px 12px 24px;
    background-color: #2D96C8;
}

.cadastre:hover {
    background-color: #03608A;
}

.cadastrar {
    background-image:linear-gradient(to right,#077265 20%, #0A6D6C);    
    border-radius: 50px;
    margin: 22px 775px 0px 775px;
    padding: 28px 44px 28px 44px;
}

.cadastrar:hover {    
    background-image: unset;
    background-color: white;
    color: black;    
}

.s1 {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    margin: 0px 0px 0px 32px;
}

.s2 {
    margin-top: 50px;
    margin-bottom: 131px;
    margin-left: 300px;
    margin-right: 250px;
}

.s2 > h1, .s3 > h1 {
    font-family: var(--fonte-oriond);
    font-size: 4.5em;
    text-align: center;
    margin: 90px 0px;
}

.s2 > div {
    margin: 0px 175px 0px 120px;
    -webkit-column-count: 3;
    -webkit-column-gap: 80px;
    -webkit-column-width: auto;  
    display: block;    
    
}

.s2 div > h2 {
    font-size: 1.25em;
    font-family: var(--fonte-oriond);        
}

.s2 div > p {
    color: #818181;
    font-family: var(--fonte-roboto);
    font-size: 1em;
    margin: 20px 0px 60px 0px;
}

.s3 > p {
    color: #818181;
    font-family: var(--fonte-oriond);
    text-align: center;
}



.cadastrar2 > a {
    color: white;        
    font-size: 1.25em;
    font-family: var(--fonte-roboto);     
}

.cadastrar2 {
    background-image:linear-gradient(45deg, #ffed00, #c2ff00 02%, #00c7f2 70%, #2A7DF9 90%);    
    border-radius: 50px;      
    display: block;        
    padding-left: 59px;
    margin-left: 553px;
    max-width: 146px;
    
    
    
}

.cadastrar2:hover {    
    background-image: unset;
    background-color: black;
     
}

    
    
    

footer {
    background-color: black;    
    justify-content: space-around;
    align-items: center;    
    display: flex;  
    color: white;
    
}

.lista1, .lista2, .lista3, .lista4 {
    margin-top: 40px;
    margin-bottom: 40px;
    list-style: none;
    font-family: var(--fonte-roboto);
    font-weight: bold;
    font-size: 0.85em;
    line-height: 2.5;
}

.titulofooter {    
    color: #52525D;
    margin-bottom: 10px;
    
}

a {
    text-decoration: none;
    color: white;
}


    


